<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="navbar-header">
                <img width="50px" alt="Maiden Airlines Logo" src="assets/maiden-logo.png"/>
                Maiden Airlines
            </li>
            <li class="nav-item">
                <a routerLinkActive="active" routerLink='/home'>Home</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive="active" routerLink=''>Book a Flight!</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive="active" routerLink=''>Join the Maiden Club</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive="active" routerLink=''>Contacts</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive="active" routerLink='/operator'>Operator</a>
            </li>
        </ul>
    </div>
</nav>
