<ul class="nav">
    <li>
        <img width="50px" alt="Maiden Airlines Logo" src="assets/maiden-logo.png"/>
        Maiden Airlines
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Book a Flight!</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Join the Maiden Club</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contacts</a>
    </li>
</ul>
    
