<h2>List of Flights</h2>
  <p>Flights are listed below. As an operator you can add, edit or delete flights.</p>
  <hr>
  <button *ngIf="role == 'Administrator' || role == 'Manager_Operator'" type="button" class="btn btn-info mr-1" data-toggle="modal" data-target="#new_flightModal">Create New Flight</button>
  <button type="button" class="btn btn-success text-right mr-1" (click) = "onRefresh();">Refresh List</button>            
  <hr>
<!-- Modal Insert-->
<div class="modal fade" id="new_flightModal" tabindex="3" role="dialog" aria-labelledby="new_flightModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
      <div class="modal-content">
      <form [formGroup] = "insertForm" (ngSubmit)="onCreateFlight()">
      <div class="modal-header">
          <h5 class="modal-title" id="new_flightModalLabel" >Create New Flight</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        
          <div class="form-group">
            <label for="flightNumber">Flight Number (ex.: MDN001):</label>
            <input type="text" class="form-control" id="insert_flightNumber"  formControlName="flightNumber" name="flightNumber">
            <span *ngIf="!insertForm.get('flightNumber').valid && insertForm.get('flightNumber').touched"
              class="help-block alert-warning">Please enter a valid flight number!</span>
          </div>
          <div class="form-group">
            <label for="flightDepartureDate">Select Departure Date:</label>
            <input class="form-control" type="datetime-local" id="insert_flightDepartureDate" formControlName="flightDepartureDate" name="flightDepartureDate" />
            <span *ngIf="!insertForm.get('flightDepartureDate').valid && insertForm.get('flightDepartureDate').touched"
              class="help-block alert-warning">Please enter a valid date!</span>
          </div>
          <div class="form-group">
                <label for="flightDepartureAirport">Select Departure Airport:</label>
                <select class="form-control" id="insert_flightDepartureAirport"  formControlName="flightDepartureAirport" name="flightDepartureAirport">
                  <option *ngFor="let airport of airports; index as i;" [value]="i">{{airport.name}}</option>
                </select>
                <span *ngIf="!editForm.get('flightDepartureAirport').valid && editForm.get('flightDepartureAirport').touched"
                  class="help-block alert-warning">Please enter a valid departure airport!</span>
          </div>
          <div class="form-group">
                <label for="flightArrivalDate">Select Arrival Date:</label>
                <input class="form-control" type="datetime-local" id="insert_flightArrivalDate" formControlName="flightArrivalDate" name="flightArrivalDate" />
                <span *ngIf="!insertForm.get('flightArrivalDate').valid && insertForm.get('flightArrivalDate').touched"
                  class="help-block alert-warning">Please enter a valid date!</span>
            </div>
            <div class="form-group">
                <label for="flightArrivalAirport">Select Arrival Airport:</label>
                <select class="form-control" id="insert_flightArrivalAirport"  formControlName="flightArrivalAirport" name="flightArrivalAirport">
                    <option *ngFor="let airport of airports; index as i;" [value]="i">{{airport.name}}</option>
                </select>
                <span *ngIf="!insertForm.get('flightArrivalAirport').valid && insertForm.get('flightArrivalAirport').touched"
                    class="help-block alert-warning">Please enter a valid arrival airport!</span>
            </div>
            <div class="form-group">
                    <label for="flightAirplane">Select Airplane:</label>
                    <select class="form-control" id="insert_flightAirplane"  formControlName="flightAirplane" name="flightAirplane">
                        <option *ngFor="let airplane of airplanes" value={{airplane.id}}>{{airplane.id}}_{{airplane.model}}</option>
                    </select>
                    <span *ngIf="!insertForm.get('flightArrivalAirport').valid && insertForm.get('flightArrivalAirport').touched"
                        class="help-block alert-warning">Please enter a valid arrival airport!</span>
            </div>
          <div class="form-group">
              <label for="flightStatus">Define Base Price:</label>
              <input type="text" class="form-control" id="insert_flightPrice"  formControlName="flightPrice" name="flightPrice">
              <span *ngIf="!insertForm.get('flightPrice').valid && insertForm.get('flightPrice').touched"
                class="help-block alert-warning">Please enter a valid price! (ex.: 100.00)</span>
          </div>
          <div class="form-group">
            <label for="flightStatus">Define number of Miles:</label>
            <input type="text" class="form-control" id="insert_flightMiles"  formControlName="flightMiles" name="flightMiles">
            <span *ngIf="!insertForm.get('flightMiles').valid && insertForm.get('flightMiles').touched"
              class="help-block alert-warning">Please enter a valid number!</span>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!insertForm.valid" onclick="$('#new_flightModal').modal('hide')">Create Flight</button>
      </div>
      </form>
      </div>
  </div>
</div>  

<!-- Modal Edit-->
<div class="modal fade" id="edit_flightModal" tabindex="3" role="dialog" aria-labelledby="edit_flightModalLabel" aria-hidden="true" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <form [formGroup] = "editForm" (ngSubmit)="onUpdateFlight()">
            <div class="modal-header">
                <h5 class="modal-title" id="edit_flightModalLabel" >Create New Flight</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              
                <div class="form-group">
                  <label for="flightNumber">Flight Number (ex.: MDN001):</label>
                  <input type="text" class="form-control" id="edit_flightNumber"  formControlName="flightNumber" name="flightNumber">
                  <span *ngIf="!editForm.get('flightNumber').valid && editForm.get('flightNumber').touched"
                    class="help-block alert-warning">Please enter a valid flight number!</span>
                </div>
                <div class="form-group">
                  <label for="flightDepartureDate">Select Departure Date:</label>
                  <input class="form-control" type="datetime-local" id="edit_flightDepartureDate" formControlName="flightDepartureDate" name="flightDepartureDate" />
                  <span *ngIf="!editForm.get('flightDepartureDate').valid && editForm.get('flightDepartureDate').touched"
                    class="help-block alert-warning">Please enter a valid date!</span>
                </div>
                <div class="form-group">
                      <label for="flightDepartureAirport">Select Departure Airport:</label>
                      <select class="form-control" id="edit_flightDepartureAirport"  formControlName="flightDepartureAirport" name="flightDepartureAirport">
                        <option *ngFor="let airport of airports; index as i;" value={{i}}>{{airport.name}}</option>
                      </select>
                      <span *ngIf="!editForm.get('flightDepartureAirport').valid && editForm.get('flightDepartureAirport').touched"
                        class="help-block alert-warning">Please enter a valid departure airport!</span>
                </div>
                <div class="form-group">
                      <label for="flightArrivalDate">Select Arrival Date:</label>
                      <input class="form-control" type="datetime-local" id="edit_flightArrivalDate" formControlName="flightArrivalDate" name="flightArrivalDate" />
                      <span *ngIf="!editForm.get('flightArrivalDate').valid && editForm.get('flightArrivalDate').touched"
                        class="help-block alert-warning">Please enter a valid date!</span>
                  </div>
                  <div class="form-group">
                      <label for="flightArrivalAirport">Select Arrival Airport:</label>
                      <select class="form-control" id="edit_flightArrivalAirport"  formControlName="flightArrivalAirport" name="flightArrivalAirport">
                          <option *ngFor="let airport of airports; index as i;" value={{i}}>{{airport.name}}</option>
                      </select>
                      <span *ngIf="!editForm.get('flightArrivalAirport').valid && editForm.get('flightArrivalAirport').touched"
                          class="help-block alert-warning">Please enter a valid arrival airport!</span>
                  </div>
                  <div class="form-group">
                        <label for="flightAirplane">Select Airplane:</label>
                        <select class="form-control" id="edit_flightAirplane"  formControlName="flightAirplane" name="flightAirplane">
                            <option *ngFor="let airplane of airplanes" value={{airplane.id}}>{{airplane.id}}_{{airplane.model}}</option>
                        </select>
                        <span *ngIf="!editForm.get('flightArrivalAirport').valid && editForm.get('flightArrivalAirport').touched"
                            class="help-block alert-warning">Please enter a valid arrival airport!</span>
                </div>
                <div class="form-group">
                      <label for="flightGate">Gate:</label>
                      <input type="text" class="form-control" id="edit_flightGate"  formControlName="flightGate" name="flightGate">
                      <span *ngIf="!editForm.get('flightGate').valid && editForm.get('flightGate').touched"
                        class="help-block alert-warning">Please enter a valid Gate!</span>
                </div>
                <div class="form-group">
                        <label for="flightStatus">Select Flight Status:</label>
                        <select class="form-control" id="edit_flightStatus"  formControlName="flightStatus" name="flightStatus">
                          <option value="active">Active</option>
                          <option value="delayed">Delayed</option>
                          <option value="cancelled">Cancelled</option>
                        </select>
                        <span *ngIf="!editForm.get('flightStatus').valid && editForm.get('flightStatus').touched"
                          class="help-block alert-warning">Please enter a valid status!</span>
                  </div>
                  <div class="form-group">
                      <label for="flightStatus">Define Base Price:</label>
                      <input type="text" class="form-control" id="edit_flightPrice"  formControlName="flightPrice" name="flightPrice">
                      <span *ngIf="!editForm.get('flightPrice').valid && editForm.get('flightPrice').touched"
                        class="help-block alert-warning">Please enter a valid price! (ex.: 100.00)</span>
                  </div>
                  <div class="form-group">
                    <label for="flightStatus">Define number of Miles:</label>
                    <input type="text" class="form-control" id="edit_flightMiles"  formControlName="flightMiles" name="flightMiles">
                    <span *ngIf="!editForm.get('flightMiles').valid && editForm.get('flightMiles').touched"
                      class="help-block alert-warning">Please enter a valid number!</span>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid" onclick="$('#edit_flightModal').modal('hide')">Edit Flight</button>
            </div>
            </form>
            </div>
        </div>
      </div>  

<!-- Modal Delete-->
<div class="modal fade" id="delete_flightModal" tabindex="3" role="dialog" aria-labelledby="delete_flightModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <form [formGroup] = "deleteForm" (ngSubmit)="onDeleteFlight()">
        <div class="modal-header">
            <h5 class="modal-title" id="delete_flightModalLabel">Delete Flight</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <input type="hidden" class="form-control"  formControlName="flightId" name="flightId" value=""/>
                <div class="alert alert-warning">
                    <strong>Warning!</strong> You are about to delete a Flight. Are you sure?
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger" onclick="$('#delete_flightModal').modal('hide')">Delete Flight</button>
        </div>
        </form>
        </div>
    </div>
  </div>

  <!-- Modal Occupation-->
<div class="modal fade" id="occupation_flightModal" tabindex="3" role="dialog" aria-labelledby="occupation_flightModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="occupation_flightModalLabel">Flight Occupation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <div  class="row text-center">
              <div *ngFor="let seat of seats; index as i" class="col-2">
                <div class = "btn btn-info mb-2 mr-2 btn-block" *ngIf="!seat.occupied">{{seat.seat}}</div>
                <div class = "btn btn-danger mb-2 mr-2 btn-block" *ngIf="seat.occupied">{{seat.seat}}</div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </div>
  </div>
</div>

  <div *ngIf="flights.length < 1 && !isFetching" class="alert alert-warning">
    <strong>No Flights found!</strong> Add new flights using the Create button
  </div>
  <div *ngIf="isFetching && !error" class="alert alert-info">
    <strong>Loading...</strong>
  </div>
  <div *ngIf="error" class="alert alert-danger">
    <h3>Oops!</h3>
    <strong>{{ error }}</strong><br>
  </div>
  <div *ngIf="success" class="alert alert-success">
      <h3>Success! </h3>
      <strong>{{ success }}</strong>
  </div>
<table class="table table-striped bg-light" *ngIf="flights.length >= 1 && airports.length >= 1 && airplanes.length >= 1" >
    <thead>
      <tr>
        <th>Flight Number</th>
        <th>Departure Date</th>
        <th>Departure Airport</th>
        <th>Arrival Date</th>
        <th>Arrival Airport</th>
        <th>Airplane</th>
        <th>Gate</th>
        <th>Status</th>
        <th>Base Price</th>
        <th>Miles</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of flights; index as i;">
        <td>{{flight.flight_number}}</td>
        <td>{{flight.departure_date | date : "dd-MM-y HH:mm"}}</td>
        <td>{{flight.departure_airport.name}} ({{flight.departure_airport.shortName}}), {{flight.departure_airport.city}} </td>
        <td>{{flight.arrival_date | date : "dd-MM-y HH:mm"}}</td>
        <td>{{flight.arrival_airport.name}} ({{flight.arrival_airport.shortName}}), {{flight.arrival_airport.city}}</td>
        <td>{{flight.airplane.id}} ({{flight.airplane.model}}) </td>
        <td>{{flight.gate}}</td>
        <td *ngIf="flight.status === 'active'" class= "bg-success text-white">{{flight.status}}</td>
        <td *ngIf="flight.status === 'delayed'" class= "bg-warning text-dark">{{flight.status}}</td>
        <td *ngIf="flight.status === 'cancelled'" class= "bg-danger text-dark">{{flight.status}}</td>
        <td *ngIf="flight.status == null" class= "bg-danger text-dark">No Information</td>
        <td>{{flight.price}} €</td>
        <td>{{flight.miles}}</td>
        <td>
            <button class="btn btn-info mb-2 mr-2 btn-block" data-toggle="modal" data-target="#occupation_flightModal" (click)="generateSeats(flight.airplane.numberSeats, i)">Occupation</button>
            <button *ngIf="role == 'Administrator' || role == 'Manager_Operator'" class="btn btn-info mb-2 mr-2 btn-block" data-toggle="modal" data-target="#edit_flightModal" (click)="populateEditForm(i)" >Edit</button>
            <button *ngIf="role == 'Administrator'" class="btn btn-danger mb-2 mr-2 btn-block" data-toggle="modal" data-target="#delete_flightModal" (click)="populateDeleteForm(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>



