<app-header></app-header>

<hr>
<div class="row">
        <div class="col-sm-4" *ngFor="let showflight of showflights;index as i;">
            <div class="card shadow rounded-top" [ngStyle]="getBackground(i)">
                <div class="card-body">
                    <h3 class="card-title text-center">{{showflight.arrival_airport.city}}</h3>
                    <hr>
                    <p class="card-text font-weight-bold text-white">From </p>
                    <h1 class="card-text text-white text-center font-weight-bold">{{showflight.price}} €</h1>
                    <p class="card-text font-weight-bold text-white">Departures from {{showflight.departure_airport.city}}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow rounded-top" style="background: url('assets/travelers.jpg');background-size: cover">
                <div class="card-body">
                    <h3 class="card-title text-left">{{constants.clubName}}</h3>
                    <hr>
                    <p class="card-text font-weight-bold text-left text-white">See the advantages of being a member of our clube!</p>
                    <p class="card-text font-weight-bold text-right text-white">Earn Miles every month and pay your travels with it</p>
                    <input type="button" class="btn btn-success btn-lg" routerLinkActive="nav-active" routerLink='/club' value="Learn More">
                </div>
            </div>
        </div>
    </div>
