<h2>List of Airports</h2>
  <p>Airports are listed below. As a operator you can add, edit or delete new airports.</p>
  <hr>
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#new_airportModal">Create New Airport</button>            
  <hr>
<!-- Modal Insert-->
<div class="modal fade" id="new_airportModal" tabindex="3" role="dialog" aria-labelledby="new_airportModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
      <div class="modal-content">
      <form [formGroup] = "insertForm" (ngSubmit)="onCreateAirport()">
      <div class="modal-header">
          <h5 class="modal-title" id="new_airportModalLabel" >Create New Airport</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        
          <div class="form-group">
            <label for="airportName">Airport Name:</label>
            <input type="text" class="form-control" id="insert_airportName"  formControlName="airportName" name="airportName">
            <span *ngIf="!insertForm.get('airportName').valid && insertForm.get('airportName').touched"
              class="help-block alert-warning">Please enter a valid name!</span>
          </div>
          <div class="form-group">
            <label for="airportShortName">Short Name:</label>
            <input type="text" class="form-control" id="insert_airportShortName"  formControlName="airportShortName" name="airportShortName">
            <span *ngIf="!insertForm.get('airportShortName').valid && insertForm.get('airportShortName').touched"
              class="help-block alert-warning">Please enter a valid short name!</span>
          </div>
          <div class="form-group">
            <label for="cityList">Select City:</label>
            <select class="form-control" id="insert_cityList"  formControlName="airportCity" name="airportCity">
              <option>Barcelona</option>
              <option>Faro</option>
              <option>Lisbon</option>
              <option>Madrid</option> 
              <option>Oporto</option>
              <option>Paris</option>
            </select>
            <span *ngIf="!insertForm.get('airportCity').valid && insertForm.get('airportCity').touched"
              class="help-block alert-warning">Please enter a valid city!</span>
          </div>
          <div class="form-group">
            <label for="countryList">Select Country:</label>
            <select class="form-control" id="insert_countryList"  formControlName="airportCountry" name="airportCountry">
              <option>France</option>
              <option>Germany</option>
              <option>Portugal</option>
              <option>Spain</option>
            </select>
            <span *ngIf="!insertForm.get('airportCountry').valid && insertForm.get('airportCountry').touched"
              class="help-block alert-warning">Please enter a valid Country!</span>
          </div> 
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!insertForm.valid" onclick="$('#new_airportModal').modal('hide')">Create Airport</button>
      </div>
      </form>
      </div>
  </div>
</div>  

<!-- Modal Edit-->
<div class="modal fade" id="edit_airportModal" tabindex="3" role="dialog" aria-labelledby="edit_airportModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <form [formGroup] = "editForm" (ngSubmit)="onUpdateAirport()">
        <div class="modal-header">
            <h5 class="modal-title" id="edit_airportModalLabel">Edit Existing Airport</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <input type="hidden" class="form-control"  formControlName="airportId" name="airportId" value=""/>
            </div>
            <div class="form-group">
              <label for="edit_airportName">Airport Name:</label>
              <input type="text" class="form-control" id="edit_airportName" formControlName="airportName"  name="airportName">
              <span *ngIf="!editForm.get('airportName').valid && insertForm.get('airportName').touched"
              class="help-block alert-warning">Please enter a valid name!</span>
            </div>
            <div class="form-group">
              <label for="airportShortName">Short Name:</label>
              <input type="text" class="form-control" id="edit_airportShortName"   formControlName="airportShortName" name="airportShortName">
              <span *ngIf="!editForm.get('airportShortName').valid && insertForm.get('airportShortName').touched"
              class="help-block alert-warning">Please enter a valid short name!</span>
            </div>
            <div class="form-group">
              <label for="edit_cityList">Select City:</label>
              <select class="form-control" id="edit_cityList"  formControlName="airportCity" name="airportCity">
                <option>Barcelona</option>
                <option>Faro</option>
                <option>Lisbon</option>
                <option>Madrid</option> 
                <option>Oporto</option>
                <option>Paris</option>
              </select>
              <span *ngIf="!editForm.get('airportCity').valid && insertForm.get('airportCity').touched"
              class="help-block alert-warning">Please enter a valid City!</span>
            </div>
            <div class="form-group">
              <label for="edit_countryList" >Select Country:</label>
              <select class="form-control" id="edit_countryList" formControlName="airportCountry"  name="airportCountry">
                <option>France</option>
                <option>Germany</option>
                <option>Portugal</option>
                <option>Spain</option>
              </select>
            </div>
            <span *ngIf="!editForm.get('airportCountry').valid && insertForm.get('airportCountry').touched"
              class="help-block alert-warning">Please enter a valid Country!</span> 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid" onclick="$('#edit_airportModal').modal('hide')">Edit Airport</button>
        </div>
        </form>
        </div>
    </div>
  </div>  

<!-- Modal Delete-->
<div class="modal fade" id="delete_airportModal" tabindex="3" role="dialog" aria-labelledby="delete_airportModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <form [formGroup] = "deleteForm" (ngSubmit)="onDeleteAirport()">
        <div class="modal-header">
            <h5 class="modal-title" id="delete_airportModalLabel">Delete Airport</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <input type="hidden" class="form-control"  formControlName="airportId" name="airportId" value=""/>
                <div class="alert alert-warning">
                    <strong>Warning!</strong> You are about to delete an Airport. Are you sure?
                  </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger" onclick="$('#delete_airportModal').modal('hide')">Delete Airport</button>
        </div>
        </form>
        </div>
    </div>
  </div>  
  <div *ngIf="airports.length < 1 && !isFetching" class="alert alert-warning">
    <strong>No Airports found!</strong> Add new airports using the Create button
  </div>
  <div *ngIf="isFetching && !error" class="alert alert-info">
    <strong>Loading...</strong>
  </div>
  <div *ngIf="error" class="alert alert-danger">
      <h3>Error occurred using the webservices!</h3>
      <strong>{{ error }}</strong><br>
      Please contact the coding monkeys.
      <br>
      <button class="btn btn-info float-right" (click)="onErrorClose()">Close</button>
  </div>
  <div *ngIf="success" class="alert alert-success">
      <h3>Success! </h3>
      <strong>{{ success }}</strong><br>
      <button class="btn btn-info float-right" (click)="onSuccessClose()">Close</button>
  </div>
<table class="table table-striped" *ngIf="airports.length >= 1">
    <thead>
      <tr>
        <th>Airport ID</th>
        <th>Name</th>
        <th>Short Name</th>
        <th>City</th>
        <th>Country</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let airport of airports; index as i;">
        <td>{{airport.id}}</td>
        <td>{{airport.name}}</td>
        <td>{{airport.shortName}}</td>
        <td>{{airport.city}}</td>
        <td>{{airport.country}}</td>
        <td>
            <button class="btn btn-info mb-2 mr-2 btn-block" data-toggle="modal" data-target="#edit_airportModal" (click)="populateEditForm(i)" >Edit</button>
            <button class="btn btn-danger mb-2 mr-2 btn-block" data-toggle="modal" data-target="#delete_airportModal" (click)="populateDeleteForm(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>


